body {
  margin: 0px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 100vw;
  /* height: 550px; */
  background-image: url("../img/RED_1.png");
  background-repeat: none;
  overflow: hidden;
  opacity: 0.9;
  background-color: brown;
}

.JapanInfo {
  align-self: auto;
  font-size: 24px;
  width: 600px;
  margin-top: 40px;
  /* left: 10%; */
  /* animation-name: slide-from-left; */
  /* animation-duration: 3s; */
  color: whitesmoke;
  /* color: black; */
  line-height: 27px;
  text-align: justify;
}

@keyframes slide-from-left {
  from {
    left: 100%;
  }
  to {
    left: 10%;
  }
}

/* WEATHER CONTAINER STYLING HERE */

.weather-Container {
  color: whitesmoke;
  text-align: justify;
  font-size: 24px;
  /* text-shadow: black; */
  color: whitesmoke;
  /* color: black; */
  /* line-height: 20px; */
}

.weather-Container p {
  color: whitesmoke;
  /* color: black; */
  display: inline;
}

.weather-Container h3 {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.weather-icon {
  width: 60px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  resize: none;
}

/* MOBILE FRIENDLY SETTINGS */

@media all and (max-width: 850px) {
  .card {
    flex-direction: column;
  }

  .JapanInfo {
    font-size: 14px;
    line-height: 14px;
    color: whitesmoke;
    padding: 0px;
    margin: 0px;
  }

  .weather-Container {
    font-size: 12px;
    line-height: 12px;
    color: whitesmoke;
  }
}
