/* Feel free to destroy this  */
.form_container {
  max-width: 700px;
  margin: 10px auto;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 10px 0px;
}

form input {
  height: 30px;
}

form input[input="submit"] {
  margin: 20px 0px;
}

form textarea {
  resize: none;
  height: 100px;
}
